.accordion-item {
    background-color: rgb(250, 246, 246);
  
    .accordion-title {
      font-size: 1.2em;
      cursor: pointer;
      font-family: "Montserrat";
      font-weight: 700;
      font-size: 24px;
      user-select: none;
      padding: 10px;
      background-color: #FF6060;
      color: white;
      transition: background-color 0.3s ease;
  
      .accordion-icon {
        float: right;
        transition: transform 0.3s ease;
      }
  
      .rotate {
        transform: rotate(-180deg);
      }
    }
  
    .accordion-content {
      max-height: 0;
      overflow: hidden;
      transition: max-height 0.3s ease, padding 0.3s ease;
  
      &.open {
        max-height: 200px; 
        padding: 10px 0;
      }
    }
  }
  