
header{
        display: flex;
        justify-content: space-between;
        margin: auto;
        padding: 20px;
        max-width: 1240px;
      ul {
        display: flex;
        justify-content: flex-end;
        height: 34px;
        gap: 20px;
        list-style-type: none;
        margin: 0;
        padding-top: 30px;
     }
    .img-logo{
        width: 200px;
       
    }
}