.logement-container{
 
  display: flex;
  justify-content: center;
  flex-direction: column;
  max-width: 1240px;
  width: 100%;
  margin: auto;
  height: 543px;
  padding-bottom: 15px;
  

  .cover{
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .image-counter {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
  }

  }
  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    
  }
  
  .arrowLeft {
    left: 10px;
  }
  
  .arrowRight {
    right: 10px;
  }
}
.tags-container{
  display: flex;
  gap: 20px;
  width: 80%;
  margin-top: 15px;
  margin-bottom: 15px;
  
  .tag{
    background-color: #FF6060;
    color: white;
    font-family: "Montserrat";
    font-weight: 700;
    width: 115px;
    text-align: center;
    height: 25px;
    font-size: 12px;
    line-height: 19px;
    border-radius: 10px;
    align-content: center;
  }
}

.titre{
  position: relative;
}

h2{
  font-family: "Montserrat";
  font-size: 36px;
  font-weight: 500;
  line-height: 51.34px;
  text-align: left;
  color: #FF6060;
  margin: 0;

}
h3{
  margin: 0;
}
.host-container{
  display: flex;
  justify-content: end;
  position: absolute;
  right: 0;
  top: 5px;
}

.host-name {
  display: flex;
  flex-direction: column;
  padding-right: 5px;
}
.name{
  font-size: 18px;

}
.host-img{
  float: right;
  width: 60px;
  border-radius: 25px;
}
p{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 25.67px;
  text-align: left;
  color: black;
  margin: 0;
}
.logement-image{
  height: 415px;
  width: 100%;
  object-fit: cover;
}
.details{
  display: flex;
  gap: 20%;
  margin: auto;
  max-width: 1240px;
  width: 100%;
  margin-bottom: 60px;
  margin-top: 50px;

  .description{
    width: 50%;
  }
  .equipement{
    width: 50%;
  }
}

@media screen and (max-width: 769px){
  h2{
    font-size: 1.8em;
  }
  .logement-image{
    height: 300px;
    object-fit: cover;
    margin: auto;
    width: 92%;
  }
  .logement-container{
    margin: 0;
  }
  .arrow{
    width: 50px;
     
  }
 .logement-container{
  .arrowLeft{
    left: 20px;
   }
   .arrowRight{
    right:20px;
   }
 }
 .titre{
  display: grid;
  grid-template-columns: 68%;
  align-items: center;
  grid-template-rows: 50px 50px 50px;
 }
 .rate{
  margin-top: 10px;
  grid-column: 1;

 }
 .host-container{
  display: grid;
  justify-items: right;
  grid-column: 2;
  grid-row: 4;
 }
 .sous-titre{
  display: grid;
  grid-row: 2;
 }

.titre {
  margin: auto;
  width: 90%;
}
.details{
  width: 90%;
  gap: 10px;
}
.host-img{
  float: right;
}
.name{
  width: 172px;
}
}